# Copie este arquivo para .env e edite
DB_PASSWORD=MinhaS3nha@Segura
JWT_SECRET=chave-super-secreta-aleatoria-longa-para-jwt-em-producao-2024
FRONTEND_URL=https://meudominio.com
VITE_API_URL=https://meudominio.com
